
.loginpanel
{
  background-position: center;
  background-image: url(../login.png);
}

.createform
{
    background-position: center;
    background-image: url(../EditBG.jpg);
}

.instrPop
{
    background-position: center;
    background-image: url(../popup.jpg);
}

/*-----------------------------------------------*/
/*                      TOC                     */
/*---------------------------------------------*/

.story_TOC
{
    background-position: center;
    background-image: url(../popup.jpg);
}

.story_TOC header 
{
	font-size:36px;
}

.toc_entry {}

.toc_entry:active
{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    z-index:5;
}

.toc_entry img 
{
    width:30px;
	height:30px;
}


/*-----------------------------------------------*/
/*                 LIST TEMPLATE                */
/*---------------------------------------------*/

.list_imagebox
{
	float:left;
	position:absolute;
	left:260px;
	height:20px;
	width:50px;	
}

.list_textbox
{
	float:left;
	position:absolute;
	left:10px;
	width:245px;
	height:25px;
	
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	-o- text-overflow: ellipsis;
}

.list_textbox list_header
{
	font-family: "Century Gothic", Arial, serif;
	font-size:18px;
	font-weight:bold;
}

.list_textbox list_description
{
	font-family: "Times New Roman", Times, serif;
	font-size:12px;
	color: #666; 
}

.list_imagebox list_delete img
{
	position:relative;
	top: 0px;
	left:0px;
	width:20px;
	height:20px;
	SRC="delete.png"
}

.list_imagebox list_edit img
{
	position:relative;
	top: 0px;;
	left:0px;;
	width:20px;
	height:20px;
	SRC="edit.png"
}

/*-----------------------------------------------*/
/*                 MAGAZINE                     */
/*---------------------------------------------*/

#magazine
{
    top : 3px;
    left: 0px;
	width:320px;
	height:385px;
}

#magazine .turn-page
{
	background-size:100% 100%;
	background-color:#ccc;
}

/*-----------------------------------------------*/
/*                 SCROLLER                     */
/*---------------------------------------------*/

#wrapper 
{
    z-index:1;
    width:100%;
    background:#aaa;
}

#scroll-content 
{
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    padding:0;
    -webkit-overflow-scrolling:touch;
    overflow:auto;
}